body {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: 'Tinos', serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

.cta-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #393e46;
  color: #fff;
}

.white-section {
  background-color: #eeeeee;
}

/* Title section */

#title {
  /* background-color: #222831; */
  color: white;
  /* height: 100vh; */
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background-img.jpg");
  background-size: cover;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 20%;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Tinos', serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features section */

.features-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #00adb5;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #7CF2FD;
}

/* Testimonials */
#testimonials {
  background-color: #393e46;
  color: #fff;
}

/* .carousel-item {
  padding: 7% 15%;
} */
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */
#press {
  background-color: #393e46;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 10%;
  /* 100px would also be fine but static rather than dynamic*/
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.price-heading {
  font-size: 1.25rem;
}

.deal-text {
  width: 40%;
  margin: auto;
  border-radius: 25px;
  background: #00adb5;
  color: #fff;
}

.price-save {
  color: red;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */
/* #cta {
  background-color: #ff4c68;
  color: white;
} */
/* Footer */
.social-icons {
  margin: 20px 10px;
}

#footer .container-fluid {
  padding: 4% 15%;
}

@media (max-width: 1000px) {

  .big-heading {
    text-align: center;
  }
}
